{% extends base.html %}

{% block body %}
  <form method="POST">

    {% if out_of_questions %}
      <p>I'm out of questions. So probably I don't know about the thing you are thinking of.</p>
      <label>So, what is it?</label>
      <input type="text" name="thing">
    {% else %}
      {% if things and things[0]['diff'] < things[1]['diff'] %}
        <input type="text" name="guess_id" value="{{ things[0]['id'] }}" hidden>
      {% elif things %}
        <p>It could be {{ ', '.join([x['name'] for x in things[:6]]) }} or {{ things[6]['name'] }}</p>
      {% end %}
      {% if things %}
        <p>And most likely it is not {{ ', '.join([x['name'] for x in things[::-1][:6]]) }} or {{ things[::-1][6]['name'] }}</p>
      {% end %}
    {% end %}

    <button type="submit" class="btn btn-primary">Answer</button>

    {% for wrong_guess in wrong_guesses %}
      <input type="text" name="wrong_guess" value="{{ wrong_guess }}" hidden>
    {% end %}

    {% for question in answers_so_far %}
      {% module Template('modules/question.html', question=question, required=False) %}
    {% end %}

  </form>
{% end %}
